<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CanvasCamera Capacitor Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <canvas class="raster" #fullsize></canvas>
    <canvas class="raster" #thumbnail></canvas>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="play()">Play</ion-button>
      <ion-button (click)="flip()">Flip</ion-button>
      <ion-button (click)="switch()">Switch</ion-button>
      <ion-button (click)="torch()">Torch</ion-button>
      <ion-button (click)="stop()">Stop</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
